/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
	font-family: 'Times New Roman', Times, serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================================
                GERAL
============================================*/

html {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: calc(10px + 1vw);
}

a {
	color: black;
	text-decoration: none;
}

/*main {
	margin: 0 10vw 0 10vw;
}*/


/*==========================================
           		 HEADER
============================================*/
header {
	border-bottom: 2.5px solid #2f2a19;
}
header nav {
	display: flex;
	background-color: #d1ae95;
	padding: 5px 0 5px 0;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0%;
	width: 100%;
	border-bottom: 2.5px solid #2f2a19;
}

header nav p img {
	border-radius: 50px;
	justify-content: left;
	width: 40px;
	margin: 0 0 0 4vw;
}

header nav ul {
	display: flex;
	justify-content: right;
	font-size: 0.8rem;
	font-weight: bold;
}

header nav ul li {
	margin: 0 10px 0 10px;
}

header nav ul li.atual a {
	background-color: #704a2f;
	color: #e4ddd6;
	padding: 8px;
	border-radius: 0.5rem;
}

/*==========================================
           		 MAIN
============================================*/
hr{
	width: 95%;
	margin: 30px auto;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.intro {
	background-color: #cdbca5;
	display: flex;
	flex-direction: row;
	padding: 50px 50px;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.intro img{
	width: 100%;
	border-radius: 20px;
}

.image-box{
	display: flex;
	justify-content: center;
	align-items: center;	
}

.intro p{
	font-family: 'Times New Roman', Times, serif;
	font-weight: 500;
	padding: 20px;
	font-size: 25px;
}

.intro h3{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

body main h1.inicio {
	color: #7f523b;
	font-size: 4rem;
	font-weight: bold;
	margin: 2vw 2vw 2vw 0;
	text-align: center;
}

body main h2.tittle {
	font-size: 1.2rem;
	font-weight: bold;
	color: #522c10;
	margin: 2vw 2vw 2vw 0;
	text-align: center;
}
div.intro p{
	margin: 2vw 9vw;
	font-size: 0.9rem;
	line-height: 1.3rem;
	text-align: justify;
}

 main section.banner p.imagem img {
	width: 100%;
	justify-content: center;
	margin: 0 0 1vw 0;
 }

 main section div.intro p {
	margin: 1vw 3vw 1.5vw 1vw;
	display: flex;
}
.texto {
	display: none;
	margin-left: 20px;
}
/*==========================================
           		 SECTION COMEÇO
============================================*/
section.comeco {
	text-align: center;
}

.comeco h1{
	font-size: 40px;
	font-weight: bold;
	padding: 10px;
	width: 75%;
	margin: auto;
	margin-top: 10px
}

.comeco p{
	font-size: 25px;
	padding: 10px;
	padding-bottom: 50px;
}

.list-box{
	display: flex;
	flex-direction: row;
	margin: 20px;
}

.list-box li {
	border: 0px solid black;
	padding: 20px;
	margin: 5px;
	line-height: 35px;
	background-color: #cdbca5;
	border-radius: 20px;
}

.list-box span{
	font-weight: bold;
	font-size: 30px;
}


/*==========================================
        	 SECTION - BENEFICIOS
============================================*/
.beneficios h1{
	font-weight: bold;
	padding: 10px;
	margin: auto;
	text-align: center;
	font-size: 40px;
}
.beneficios p{
	padding:  30px 50px;
	font-size: 30px;
	text-align: justify;
}


/*==========================================
        	 SECTION - COMO ORGANIZAR
============================================*/
.como_organizar h1{
	font-weight: bold;
	margin: auto;
	text-align: center;
	font-size: 30px;
	opacity: 80%;
}

.como_organizar p{
	padding: 30px 50px;
	font-size: 30px;
	text-align: justify;
}

.como_organizar ul{
	padding: 0px 50px 50px;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
}
.como_organizar li{
	text-align: start;
	padding: 10px;
	border: 2px solid black;
	margin: 5px;
}

/*==========================================
        	 SECTION ROTINA.EXEMPLO
============================================*/
table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #704a2f;
    color: white;
}

table td {
    background-color: #f7f3ef;
}
.table {
	width: 50%;
	display: flex;
	justify-content: center;
}
.rotina_exemplo{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #cdbca5;
	padding: 20px 0px;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.rotina_exemplo h1{
	font-weight: bold;
	padding: 50px;
	margin: auto;
	text-align: center;
	font-size: 40px;
}

.rotina_exemplo p{
	font-size: 30px;
	text-align: justify;
}

/*==========================================
           		 FOOTER
============================================*/
footer {
	background-color: #704a2f;
	padding: 2vw 0vw 2vw 0;
	color: #e4ddd6;
	display: flex;
	font-size: 0.8rem;

}

footer ul li a {
	color: #e4ddd6;
}

footer ul li.direitos p {
	margin: 0 4vw 0.2vw 6vw;
}

footer ul li.des p {
	margin: 1vw 1vw 1vw 6vw;
}

footer ul li.alunos {
	display: flex;

	font-size: 0.8rem;
}

footer ul li.alunos p {
	margin: 0.5vw 0 0.6vw 6vw;
}

footer ul.logos {
	margin: 2vw 4vw 1vw 18vw;
}

footer ul.logos li {
	margin: 1vw;
}


/*==========================================
        	 SECTION REFERENCIAS
============================================*/
.referencias{
	padding: 20px 20px;
}
.referencias h2{
	margin-top: 10px;
}