style_organizacao.css
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================================
                GERAL
============================================*/

html {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: calc(10px + 1vw);
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	color: black;
	text-decoration: none;
}

/* main {
    margin: 0 10vw 0 10vw;
}
*/

/*==========================================
        ORGANIZAÇÃO DOS AMBIENTES
============================================*/
/*==========================================
           		 HEADER
============================================*/
header {
	border-bottom: 2.5px solid #2f2a19;
}

header nav {
	display: flex;
	background-color: #d1ae95;
	padding: 5px;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0%;
	width: 100%;
	border-bottom: 2.5px solid #2f2a19;
}

.navBar p img {
	border-radius: 50px;
	justify-content: left;
	width: 40px;
	margin: 0 0 0 4vw;
	transition: transform 0.3s ease;
	animation: 1s rolarLogo;
 }
 @keyframes rolarLogo{
	0%{
		transform: rotate(0deg);
		margin: 0 0 0 4vw;
	}
	50%{
		transform: rotate(180deg);
		margin: 0 0 0 10vw;
	}
	100%{
		transform: rotate(0deg);
		margin: 0 0 0 4vw;
	}
 }

 .navBar p img:active {
	transform: scale(0.9); /* Reduz o tamanho quando clicado */
	 background-color: #ffffff; /* Muda a cor ao ser clicado */
 }
 .navBar p img:hover {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	 transform: scale(1.1);
 }

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.menu {
	list-style: none;
	justify-content: right;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 30px;
	justify-content: right;
	font-size: 1rem;
	font-weight: bold;
}

.menu li a {
	color: #2f2a19;
	text-decoration: none;
}

.menu li a:hover {
	color: #d1ae95;
}

/* Botão de Toggle */
.menu-toggle {
	display: none;
	flex-direction: column;
	gap: 5px;
	margin: 0 5vw 0;
	cursor: pointer;
}

.menu-toggle span {
	width: 25px;
	height: 3px;
	background-color: white;
}

.menu {
	display: none;
	flex-direction: column;
	background-color: #e4ddd6;
	position: absolute;
	top: 50px;
	right: 20px;
	width: 150px;
	border-bottom-left-radius: 1vw;
	border-bottom-right-radius: 1vw;
}

.menu li {
	margin: 0 0 2vw 0;
}

.menu-toggle {
	display: flex;
}

.menu.active {
	display: flex;
	padding: 3vw;
	width: 15%;
}

header nav ul li.atual a {
	background-color: #704a2f;
	color: #e4ddd6;
	padding: 8px;
	border-radius: 0.5rem;
}

/*==========================================
           		SECTION.BANNER
============================================*/
main section.title {
	background-image: url("../src/img.organizacao/Organização.png");
	height: 60vw;
	width: 100%;
	background-size: cover;
	background-position: center;
	position:static;

}

/*============================================
           	SECTION.MOTIVO
==============================================*/
main section.motivo {
	background-color: #e4ddd6;
	padding: 3vw 0 3vw 0;
}

main section.motivo h2 {
	margin: 4vw 10vw 3vw 10vw;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

main section.motivo p.paragrafo {
	margin: 2vw 10vw 2vw 10vw;
	font-size: 0.9rem;
	line-height: 1.3rem;
	text-align: justify;
}

main section.motivo p.video video {
	margin: 0 10vw 4vw 10vw;
	text-align: center;
	border: 5px solid #704a2f;
	width: 80%;
}

/*============================================
           	SECTION.BENEFICIOS
==============================================*/
main section.beneficios {
	background-color: #cdbca5;
	padding: 3vw 0 3vw 0;
}

main section.beneficios div.dividir {
	display: flex;
	width: 100%;
	align-items: center;
}

main section.beneficios div.dividir div.text {
	width: 50%;
}

main section.beneficios div.dividir div.text h2 {
	margin: 4vw 3vw 5vw 10vw;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

main section.beneficios div.dividir div.text p {
	margin: 3vw 3vw 3vw 10vw;
	text-align: justify;
	line-height: 1.3rem;
}

main section.beneficios div.dividir div.imagem {
	width: 50%
}

main section.beneficios div.dividir div.imagem p img {
	border: 5px solid #704a2f;
	margin: 4vw 10vw 2vw 3vw;
}

/*============================================
           		 SECTION.TRABALO
==============================================*/
main section.trabalho {
	background-color: #e4ddd6;
	padding: 3vw 0 3vw 0;
}

main section.trabalho h2 {
	margin: 4vw 10vw 2vw 10vw;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

main section.trabalho p {
	margin: 1vw 10vw 1vw 10vw;
	font-size: 0.9rem;
	line-height: 1.3rem;
	text-align: justify;
}

main section.trabalho div {
	display: flex;
	width: 100%;
}

main section.trabalho div p img {
	width: 100%;
	border: 5px solid #704a2f;
	margin: 2vw 0 2vw 0;
}

/*============================================
           		 SECTION.MODELO
==============================================*/
main section.modelo {
	background-color: #cdbca5;
	padding: 3vw 0 3vw 0;
}

main section.modelo div.dividir {
	display: flex;
	width: 100%;
	align-items: center;
}

main section.modelo div.dividir div.text {
	width: 50%;
}

main section.modelo div.dividir div.text h2 {
	margin: 4vw 1vw 2vw 10vw;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

main section.modelo div.dividir div.text p {
	margin: 2vw 2vw 2vw 10vw;
	text-align: justify;
	line-height: 1.3rem;
}

main section.modelo div.dividir div.imagem p.imagem img {
	border: 5px solid #704a2f;
	margin: 2vw 10vw 2vw 5vw;
}

/*============================================
           	SECTION.EXPECTATIVA
==============================================*/
main section.expectativas {
	background-color: #e4ddd6;
	padding: 3vw 0 3vw 0;
}

main section.expectativas h2 {
	margin: 4vw 10vw 2vw 10vw;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

main section.expectativas p.paragrafo {
	margin: 2vw 10vw 2vw 10vw;
	font-size: 0.9rem;
	line-height: 1.3rem;
	text-align: justify;
}

main section.expectativas div {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

main section.expectativas div p {
	width: 50%;
	margin: 2vw 10vw 2vw 10vw;
	text-align: center;
}

main section.expectativas div p img {
	border: 5px solid #704a2f;
	width: 100%;
}

/*============================================
           	SECTION.INFLUENCIAS
==============================================*/
main section.influencias {
	background-color: #cdbca5;
	padding: 3vw 0 3vw 0;
	text-align: center;
}

main section.influencias div.dividir {
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

main section.influencias div.dividir p.video {
	width: 33%;
}

main section.influencias div.dividir p.video video {
	border: 5px solid #704a2f;
	margin: 2vw 15vw 2vw 2vw;
}

main section.influencias div.dividir div {
	width: 70%;
}

main section.influencias div.dividir div h2 {
	margin: 4vw 10vw 2vw 10vw;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

main section.influencias div.dividir div p {
	margin: 2vw 10vw 2vw 10vw;
	text-align: justify;
	line-height: 1.3rem;
}

/*============================================
           		SECTION.PASSOS
==============================================*/
main section.passos {
	background-color: #e4ddd6;
	padding: 3vw 0 3vw 0;
	text-align: center;
}

main section.passos h2 {
	margin: 4vw 10vw 4vw 10vw;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	background-color: #704a2f;
	padding: 2vw 1vw 2vw 1vw;
	border-radius: 100px;
	color: #e4ddd6;
	font-family: 'Times New Roman', Times, serif;
}

main section.passos p.subtitulo {
	margin: 4vw 10vw 4vw 10vw;
	text-align: justify;
	line-height: 1.3rem;
}

main section.passos ul li {
	border-top: 2px solid #704a2f;
	padding: 2vw 0 2vw 0;
}

main section.passos ul li p.passos {
	background-color: #cdbca5;
	margin: 2vw 15vw 2vw 15vw;
	padding: 2vw 2vw 2vw 2vw;
	border-radius: 100px;
	font-size: 2rem;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}

main section.passos ul li p {
	margin: 4vw 15vw 4vw 15vw;
	text-align: justify;
	line-height: 1.3rem;
}

main section.passos ul li p.video video {
	border: 5px solid #704a2f;

}

/*==========================================
           	SECTION.VIDEOS
============================================*/
main section.videos {
	border-top: 2px solid #704a2f;
	background-color: #e4ddd6;
	padding: 3vw 0 3vw 0;
	text-align: center;
}

main section.videos h2 {
	margin: 4vw 20vw 4vw 20vw;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	background-color: #704a2f;
	padding: 2vw 1vw 2vw 1vw;
	border-radius: 100px;
	color: #e4ddd6;
	font-family: 'Times New Roman', Times, serif;
}

main section.videos p {
	margin: 3vw 10vw 3vw 10vw;
}

main section.videos p iframe {
	border: 5px solid #704a2f;
}

main section.videos p.topo {
	margin: 8vw 10vw 3vw 10vw;
}

main section.videos p.topo a {
	background-color: #704a2f;
	padding: 2vw 9vw;
	color: #e4ddd6;
	margin: 2vw 10vw;
	text-decoration: underline;
	font-weight: bold;
}

main section.videos p.topo a:hover {
	color: #cdbca5;
}

/*==========================================
           	SECTION.REFERENCIAS
============================================*/
main section.referencias {
	background-color: #cdbca5;
	padding: 2vw 0 2vw 0;
}

main section.referencias h2 {
	font-size: 1rem;
	font-weight: bold;
	padding: 2vw 10VW 2vw 10VW;
	text-align: center;
}

main section.referencias h3 {
	font-size: 1rem;
	margin: 2vw 10vw 2vw 10vw;
	text-decoration: underline;
}

main section.referencias h4 {
	font-size: 1rem;
	margin: 2vw 10vw 2vw 10vw;
	text-decoration: underline;
}

main section.referencias h5 {
	font-size: 1rem;
	margin: 2vw 10vw 2vw 10vw;
	text-decoration: underline;
}

main section.referencias nav ul li {
	font-size: 0.8rem;
	margin: 2vw 10vw 2vw 10vw;
	word-wrap: break-word;
}

main section.referencias nav ul li a {
	text-decoration: underline;
}

main section.referencias nav ul li a:hover {
	color: #704a2f;
	font-weight: bold;
}

/*==========================================
           		 FOOTER
============================================*/
footer {
	background-color: #704a2f;
	padding: 2vw 10vw 2vw 10vw;
	color: #e4ddd6;
	display: flex;
	font-size: 0.8rem;
	justify-content: space-between;
}

footer ul.esq {
	text-align: right;
	margin: 2vw 0 0 0;
	justify-content: right;
}

footer ul li a {
	color: #e4ddd6;
}

footer ul.alunos li.des {
	margin: 0 0 1vw 0;
}

footer ul.alunos li {
	display: block;
	font-size: 0.8rem;
}

footer ul li.contato {
	margin: 2vw 0 2vw 0;
}

/*==========================================
				RESPONSIVIDADE
============================================*/
@media (max-width: 600px) {
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	/*=======================HEADER=======================*/
	header nav.navBar p {
		margin: 0 0 0 2vw;
	}

	header div.menu-toggle {
		margin: 0 9vw 0 0;
	}
	header ul.menu.menu.active {
		width: 35%;
	}

	/*===================SECTION.MOTIVO===================*/
	main section.motivo p.video video {
		width: 78%;
	}

	/*==================SECTION.BENEFICIOS=================*/
	main section.beneficios div.dividir {
		display: block;
		flex-wrap: wrap;
		width: 100%;
	}

	main section.beneficios div.dividir div.text {
		justify-content: center;
	}

	main section.beneficios div.dividir div.text h2 {
		width: 155%;
	}

	main section.beneficios div.dividir div.text p {
		width: 157%;
	}

	main section.beneficios div.dividir div.imagem p.excluir {
		display: none;
	}

	main section.beneficios div.dividir div.imagem p {
		margin: 0 7vw;
	}

	main section.beneficios div.dividir div.imagem p img {
		width: 215%;
	}

	/*==================SECTION.TRABALHO==================*/
	main section.trabalho div p.excluir {
		display: none;
	}

	/*===================SECTION.MODELO===================*/
	main section.modelo div.dividir {
		display: block;
		flex-wrap: wrap;
		width: 100%;
	}

	main section.modelo div.dividir div.text {
		justify-content: center;
	}

	main section.modelo div.dividir div.text h2 {
		width: 155%;
	}

	main section.modelo div.dividir div.text p {
		width: 157%;
	}

	main section.modelo div.dividir div.imagem p.imagem {
		margin: 0 6vw;
	}

	main section.modelo div.dividir div.imagem p.imagem img {
		width: 87%;
	}

	/*=================SECTION.EXPECTATIVAS=================*/
	main section.expectativas div p.excluir {
		display: none;
	}

	main section.expectativas div p {
		width: 100%;
	}

	/*=================SECTION.INFLUENCIAS=================*/
	main section.influencias div.dividir {
		display: block;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		text-align: center;
	}

	main section.influencias div.dividir div h2 {
		width: 110%;
	}

	main section.influencias div.dividir div p {
		width: 116%;
	}

	main section.influencias div.dividir p.video {
		margin: 0 0 0 8vw;
	}

	main section.influencias div.dividir p.video video {
		width: 240%;
	}

	/*===================SECTION.PASSOS===================*/
	main section.passos p.video video {
		width: 97%;
	}

	/*===================SECTION.VIDEOS===================*/
	main section.videos h1 {
		padding: 3vw 4vw 3vw 4vw;
	}

	main section.videos p iframe {
		width: 80%;
		height: 25%;
		margin: 2vw 0 2vw 0;
	}
}