/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================================
                GERAL
============================================*/

html {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: calc(10px + 1vw);
}

a {
	color: black;
	text-decoration: none;
}
body.estudosTrabalho h2{
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
}
body.estudosTrabalho p{
	text-align: center;
	margin: 1vw;
}
body.estudosTrabalho p.comentario{
	font-size: 1.2vw;
	margin: 0.5vw 0 2vw 3vw ;
	color: gray;
}
body.estudosTrabalho p.img{
	margin: 4vw 0 0 0
}
body.estudosTrabalho p.img img{
	width: 100%;
}
/*==========================================
           		 HEADER
============================================*/
header {
	border-bottom: 2.5px solid #2f2a19;
}
header nav {
	display: flex;
	background-color: #d1ae95;
	padding: 0.5vw 1vw 0.5vw 1vw;
	align-items: center;
	justify-content: space-between;
}

header nav p img {
	border-radius: 50px;
	justify-content: left;
	width: 30px;
	margin: 0 0 0 1vw;
}

header nav ul {
	display: flex;
	justify-content: right;
	font-size: 0.9rem;
	font-weight: bold;
}

header nav ul li {
	margin: 2px 12px 2px 12px;
}

header nav ul li.atual a {
	color: hsl(0, 0%, 100%);
}
/*==========================================
            	Intro
============================================*/
section.intro{
	background-color: #e4ddd6;
	padding: 3vw 0 3vw 0;
}
section.intro h2{
	margin: 4vw 0 2vw 0;
}
section.intro p{
    margin: 2vw 3vw 2px 10vw;
}

/*==========================================
            	Importancia
============================================*/
section.importancia {
	background-color: #cdbca5;
	padding: 3vw 0 3vw 0;
}
section.importancia div.maior{
	display: flex;
}
section.importancia p img{
	width: 70%;
	border: 5px solid #704a2f;
}
section.importancia h2{
    margin: 2vw 0 2vw 0;
}
section.importancia p{
	margin: 2vw 4vw 2vw 4vw;
}
/*==========================================
           		 Vantagens
============================================*/
section.vantagens{
	background-color: #e4ddd6;
	padding: 3vw 0 3vw 0;
}
section.vantagens h2{
	margin: 2vw 0 0 0;
}
section.vantagens h2.resposta{
	font-weight: bold;
	background-color: #704a2f;
	padding: 5px 10px 5px 10px;
	border-radius: 100px;
	color:#e4ddd6;
	margin: 10px 40vw 2vw 40vw;
}
section.vantagens ul{
	background-color: #d1ae95;
	margin: 10px 33vw 10px 33vw;
	border-radius: 10px;
	padding: 10px;
}
section.vantagens ul li p{
	color: #2f2a19;
	margin: 2px;
	font-weight: bold;
}
/*==========================================
           		 Rotina
============================================*/

/*==========================================
           		 Lista
============================================*/

/*==========================================
           		 FOOTER
============================================*/
footer {
	background-color: #704a2f;
	padding: 2vw 0vw 2vw 0;
	color: #e4ddd6;
	display: flex;
	font-size: 0.8rem;

}

footer ul li a {
	color: #e4ddd6;
}

footer ul li.direitos p {
	margin: 0 4vw 0.2vw 6vw;
}

footer ul li.des p {
	margin: 1vw 1vw 1vw 6vw;
}

footer ul li.alunos {
	display: flex;

	font-size: 0.8rem;
}

footer ul li.alunos p {
	margin: 0.5vw 0 0.6vw 6vw;
}

footer ul.logos {
	margin: 2vw 4vw 1vw 18vw;
}

footer ul.logos li {
	margin: 1vw;
}
