/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================================
                GERAL
============================================*/

html {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: calc(10px + 1vw);
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	color: black;
	text-decoration: none;
}

/*==========================================
           		 HEADER
============================================*/
header {
	border-bottom: 2.5px solid #2f2a19;
}

header nav {
	display: flex;
	background-color: #d1ae95;
	padding: 5px;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0%;
	width: 100%;
	border-bottom: 2.5px solid #2f2a19;
}

.navBar p img {
	border-radius: 50px;
	justify-content: left;
	width: 40px;
	margin: 0 0 0 4vw;
	transition: transform 0.3s ease;
	animation: 1s rolarLogo;
 }
 @keyframes rolarLogo{
	0%{
		transform: rotate(0deg);
		margin: 0 0 0 4vw;
	}
	50%{
		transform: rotate(180deg);
		margin: 0 0 0 10vw;
	}
	100%{
		transform: rotate(0deg);
		margin: 0 0 0 4vw;
	}
 }
 .navBar p img:active {
	transform: scale(0.9); /* Reduz o tamanho quando clicado */
	 background-color: #ffffff; /* Muda a cor ao ser clicado */
 }
 .navBar p img:hover {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	 transform: scale(1.1);
 }

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
  }
  
  .menu {
	list-style: none;
	justify-content: right;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 30px;
	justify-content: right;
	font-size: 1rem;
	font-weight: bold;
}

.menu li a {
	color: #2f2a19;
	text-decoration: none;
}

.menu li a:hover {
	color: #d1ae95;
}

/* Botão de Toggle */
.menu-toggle {
	display: none;
	flex-direction: column;
	gap: 5px;
	margin: 0 5vw 0;
	cursor: pointer;
}

.menu-toggle span {
	width: 25px;
	height: 3px;
	background-color: white;
}

.menu {
	display: none;
	flex-direction: column;
	background-color: #e4ddd6;
	position: absolute;
	top: 50px;
	right: 20px;
	width: 150px;
	border-bottom-left-radius: 1vw;
	border-bottom-right-radius: 1vw;
}

.menu li {
	margin: 0 0 2vw 0;
}

.menu-toggle {
	display: flex;
}

.menu.active {
	display: flex;
	padding: 3vw;
	width: 15%;
}

header nav ul li.atual a {
	background-color: #704a2f;
	color: #e4ddd6;
	padding: 8px;
	border-radius: 0.5rem;
}

/*==========================================
            	MAIN
============================================*/
body.estudosTrabalho main h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

body.estudosTrabalho main p {
	text-align: justify;

}

body.estudosTrabalho main p.img {
	text-align: center;
}

body.estudosTrabalho main hr {
	margin: 1.5vw 10vw 1.5vw 10vw;
	color: #2f2a19;
}

/*==========================================
            	Banner
============================================*/
main section.title {
	background-image: url("../src/img.trabalhoEstudos/banner.png");
	height: 60vw;
	width: 100%;
	background-size: cover;
	background-position: center;
	position:static;
}

/*==========================================
            	Intro
============================================*/
section.intro {
	background-color: #e4ddd6;
	padding: 3vw 0 3vw 0;
}

section.intro h2 {
	margin: 5vw 0;
}

section.intro p {
	margin: 3vw 10vw;
	line-height: 1.4;
}

section.intro p.video video {

	text-align: center;
	border: 9px solid #704a2f;
	width: 100%;
}

/*==========================================
            	Importancia
============================================*/
section.importancia {
	background-color: #cdbca5;
	padding: 3vw 0 3vw 0;
}

section.importancia h2 {
	margin: 2vw 0 2vw 0;
}

section.importancia div.maior {
	display: flex;
	width: 100%;
}

section.importancia div.maior div.image {
	margin: 2vw 3vw 2vw 10vw;
	width: 80%;
}

section.importancia p.image img {
	border: 5px solid #704a2f;
	width: 100%;
}

section.importancia div.maior div.texto {
	width: 80%;
	margin: 2vw 10vw 2vw 3vw;
}

section.importancia p {
	line-height: 1.3rem;
}

/*==========================================
           		 Vantagens
============================================*/
section.vantagens {
	background-color: #e4ddd6;
	padding: 6vw 0 5vw 0;
}

section.vantagens h2.vantagem {
	margin: 7vw 10vw 0 10vw;
}

section.vantagens h2.resposta {
	font-weight: bold;
	color: #704a2f;
	margin: 3vw 10vw;
	padding: 3vw;
	border-top: 1px solid #704a2f;
}

section.vantagens div.maior {
	display: flex;
	width: 100%;
}

section.vantagens div.maior div.lista {
	width: 90%;

}

section.vantagens div.maior div.lista ul {
	background-color: #cdbca5;
	border-radius: 25px;
	padding: 2vw;
	margin: 0 1.5vw 0 10vw;
	list-style-type: disc;
}

section.vantagens div.maior div.lista ul li {
	text-align: justify;
	color: #704a2f;
	margin: 1.5vw 4vw;
	font-weight: bold;
}

section.vantagens div.maior div.img {
	width: 90%;
}

section.vantagens div.maior div.img p.img {
	margin: 0 10vw 0 1.5vw;
}

section.vantagens div.maior div.img p.img img {
	border: #cdbca5 solid 9px;
	border-radius: 25px;
	width: 95%;
}

/*==========================================
           		 Rotina
============================================*/
section.rotina {
	background-color: #cdbca5;
	padding: 3vw 0 3vw 0;
}

section.rotina h2 {
	margin: 4vw;
	border-bottom: 1px solid #2f2a19;
	padding: 3vw;
}

section.rotina p.intr {
	line-height: 1.4rem;
	text-align: justify;
	margin: 2vw 10vw 4vw 10vw;
}

section.rotina h3 {
	font-weight: bold;
	font-size: 1.7rem;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	background-color: #e4ddd6;
	padding: 1.5vw;
	border-radius: 6px;
	color: #632b04;
	margin: 8vw 25vw 2vw 25vw;
}

section.rotina p.text {
	background-color: #e4ddd6;
	color: #2f2a19;
	padding: 3vw;
	border-radius: 1.3vw;
	font-family: 'Times New Roman', Times, serif;
	line-height: 1.4rem;
	margin: 2vw 10vw 6vw 10vw;
}

section.rotina p.img {
	background-color: #cdbca5;
	width: 100%;
}

section.rotina img {
	width: 78%;
	margin: 2vw 10vw 0 10vw;
	border-radius: 10px;
	background-color: #704a2f;
	padding: 1vw;

}

/*==========================================
           		 Lista
============================================*/
section.lista {
	background-color: #e4ddd6;
	padding: 6vw 0 5vw 0;
}

section.lista h2 {
	width: 90%;
	margin: 0 auto;
	font-size: 2.5rem;
	padding: 0 0 3vw 0;
	border-bottom: 1px solid #2f2a19;
}

section.lista ul div {
	display: flex;
	width: 100%;
}

section ul div li {
	width: 100%;
	margin: 2vw 0;
}

section.lista ul li h3 {
	text-align: center;
	font-weight: bold;
	margin: 6vw 10vw 1vw 10vw;
	background-color: #704a2f;
	color: #e4ddd6;
	padding: 2vw;
	border-radius: 10px;
}
section.lista ul li img {
	margin: 1vw 10vw 5vw 10vw;
	}

section.lista ul li p {
	text-align: center;
	margin: 1vw 10vw 5vw 10vw;
	background-color: aliceblue;
	padding: 2vw;
	border-radius: 10px;
	border: #2f2a19 solid 2px;
	line-height: 1.4rem;
}

/*====================
	Lista dividida
==================== */
section ul div li.left h3 {
	margin: 3vw 2vw 3vw 10vw;
}

section ul div li.right h3 {
	margin: 3vw 10vw 3vw 2vw;
}

section ul div li.left p {
	margin: 2vw 2vw 2vw 10vw;
}

section ul div li.right p {
	margin: 2vw 10vw 2vw 2vw;
}

/*IMG*/
section.lista img {
	border: #704a2f solid 9px;
	border-radius: 10px;
	width: 78%;
	margin: 4vw 0 0 0;
}

section.lista p.video video {
	margin: 0 10vw 4vw 10vw;
	text-align: center;
	width: 79%;
	border: #704a2f solid 9px;
	border-radius: 10px;
}

/*==========================================
           		 Referencias
============================================*/
section.referencias {
	background-color: #cdbca5;
	padding: 2vw;
}

section.referencias h2 {
	font-size: 2rem;
	margin: 2vw;
}

section.referencias h3 {
	font-size: 1rem;
	margin: 2vw 10vw 2vw 10vw;
	text-decoration: underline;
}

section.referencias p {
	margin: 2vw 10vw 2vw 10vw;
	text-align: left;
	font-size: 0.8rem;
}

/*==========================================
           		 FOOTER
============================================*/
footer {
	background-color: #704a2f;
	padding: 2vw 10vw 2vw 10vw;
	color: #e4ddd6;
	display: flex;
	font-size: 0.8rem;
	justify-content: space-between;
}

footer ul.esq {
	text-align: right;
	margin: 2vw 0 0 0;
	justify-content: right;
}

footer ul li a {
	color: #e4ddd6;
}

footer ul.alunos li.des {
	margin: 0 0 1vw 0;
}

footer ul.alunos li {
	display: block;
	font-size: 0.8rem;

}

footer ul li.contato {
	margin: 2vw 0 2vw 0;
}
/*==================================================
					RESPONSIVIDADE
====================================================*/
@media (max-width: 768px) {
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	header ul.menu.menu.active {
		width: 35%;
	}
	
	/*=============SECTION.INTRO===================*/
	section.intro h2 {
		margin: 2vw 10vw;
	}

	section.intro p {
		margin: 4vw 10vw;
	}

	section.intro img {
		margin: 2vw 10vw;
		width: 100%;
	}

	/*=============SECTION.IMPORTANCIA===================*/
	section.importancia h2 {
		margin: 2vw 10vw;
	}

	section.importancia div {
		display: block;
		justify-content: center;
		flex-wrap: wrap;
	}

	section.importancia div div.image {
		width: 100%;

	}

	section.importancia div div.image img {
		margin: 0 7vw 0 0;
		width: 90%;
	}

	section.importancia div div.texto p {
		margin: 0 0 0 7vw;
	}

	/*=================SECTION.VANTAGENS============*/
	section.vantagens h2 {
		margin: 2vw 10vw;

	}

	section.vantagens div.maior {
		display: block;
		flex-wrap: wrap;
	}

	section.vantagens div.maior div.img p img {
		margin: 3vw 0 5vw 9vw;
	}

	section.vantagens div.maior div.lista ul {
		margin: 5vw 0 2vw 10vw;
	}

	/*================SECTION.ROTINA===============*/
	section.rotina h2 {
		margin: 2vw 10vw;
	}

	/*================SECTION.LISTA===============*/
	section.lista h2 {
		margin: 2vw auto;
	}

	section.lista div {
		display: block;
		justify-content: center;
		flex-wrap: wrap;
	}

	section.lista ul div li.left {
		margin: 0 9vw 0 0;
	}

	section.lista ul div li.right {
		margin: 0 0 0 9vw;
	}

	/*===============FOOTER==============*/
	footer {
		align-items: center;
		padding: 4vw 6vw;
	}

	footer ul {
		display: block;
	}

	footer ul.alunos {
		margin: 0;
		width: 70%;
	}

	footer ul.alunos li p {
		margin: 0;
	}

	footer ul.esq {
		width: 90%;
		justify-content: left;
	}

	footer ul.esq li {
		margin: 0 3vw 0 0;
	}

	footer ul.esq li p {
		margin: 0;
	}

}