/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public do
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================================
                GERAL
============================================*/

html {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: calc(10px + 1vw);
}

a {
	color: black;
	text-decoration: none;
}

span.procrastinacao {
	font-style: italic;
}

/*{
    margin: 0 10vw 0 10vw;
}*/
h2 {
	font-family: 'Times New Roman';
}

/*==========================================
            PROCRASTINAÇÃO
============================================*/
/*==========================================
           		 HEADER
============================================*/

header nav {
	display: flex;
	background-color: #d1ae95;
	padding: 0.5vw 1vw 0.5vw 1vw;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0%;
	width: 100%;
	border-bottom: 2.5px solid #2f2a19;
}

header nav p img {
	border-radius: 50px;
	justify-content: left;
	width: 30px;
	margin: 0 0 0 1vw;
}

header nav ul {
	display: flex;
	justify-content: right;
	font-size: 0.9rem;
	font-weight: bold;

}

header nav ul li {
	margin: 2px 12px 2px 12px;
}

header nav ul li.atual a {
	color: hsl(0, 0%, 100%);
}

/*==========================================
					MAIN
============================================*/
/*=============BANNER===========*/
img.banner {
	width: 100%;
}

/*========SECTION.TEXTO============*/


section.text ul li.oque {
	gap: 1vw;
	width: 100%;
	background-color: #e4ddd6;
	display: flex;
	padding: 3vw 0 3vw 0;
}

section.text ul li.oque div {
	width: 40%;
}

section.text ul li.oque div img {
	margin: 12vw 2vw 2vw 4vw;
	border: 5px solid #704a2f;
}

section.text ul li.oque div.textoque {
	width: 60%;
}

section.text ul li.oque div h2 {
	font-size: 2rem;
	padding: 3vw 5vw 1vw 5vw;
	font-weight: bold;

}

section.text ul li.oque div p {
	padding: 2vw 6vw 5vw 5vw;
	font-size: 1rem;
	line-height: 1.4rem;
	text-align: justify;
}

section.text ul li.text {
	width: 100%;
	justify-content: center;
}

section.text ul li.text p {
	margin: 5vw 9vw 5vw 9vw;
	font-size: 1rem;
	text-align: justify;
	word-wrap: break-word;
	line-height: 1.4rem;
}
section.text ul li.text p span {
	font-weight: bold;
}
section.text ul li.img {
	background-color: #cdbca5;
}
section.text ul li.img img {
	margin: 2vw 24vw 2vw 25vw;
	width: 50%;
	border: 5px solid #704a2f;
}
/*========SECTION.CAUSAS======*/
section.causas ul li {
	width: 100%;
	background-color: #e4ddd6;
	gap: 1vw;
}

section.causas ul li h2 {
	font-size: 2rem;
	padding: 5vw 5vw 1vw 3vw;
	text-align: center;
	font-weight: bold;
}
section.causas ul li p {
	text-align: center;
	padding: 1vw 1vw 4vw 3vw;
}

section.causas ul li div {
	display: flex;
}

section.causas ul li div img {
	margin: 4vw 5vw 7vw 2vw;
	width: 40%;
	border: 5px solid #704a2f;
}

section.causas ul li div p {
	padding: 3vw 3vw 5vw 6vw;
	font-size: 1rem;
	width: 60%;
	line-height: 1.4rem;
	text-align: justify;
	
}
section.causas ul li div.conserto{
	background-color: white;
}
section.causas ul li div.conserto p {
	padding: 3vw 8vw 5vw 8vw;
	font-size: 1rem;
	width: 100%;
	line-height: 1.4rem;
	text-align: justify;
	margin: 3vw 0 0 0;
}

/*=======SECTION.PROBLEMA========*/
section.problema {
	background-color: #cdbca5;
	padding: 3vw 0 3vw 0;
	line-height: 1.4rem;
	width: 100%;
}

section.problema h2 {
	padding: 3vw 0 0 0;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

section.problema ul li p {
	margin: 5vw 8vw 5vw 8vw;
	font-size: 1rem;
	word-wrap: break-word;
	text-align: justify;
}
section.problema ul li.img {
	display: flex;
	margin:  0 5vw 0 5vw;
}

section.problema ul li.img img {
	margin: 0 3vw 0 3vw;
	width: 40%;
	border: 5px solid #704a2f;
}

/*==========FORMULÁRIO===========*/
section.form form {
	padding: 2vw 15vw 4vw 10vw;
	font-weight: bolder;
	background-color: #e4ddd6;
	color: #704a2f;
}
section.form p.text {
	margin: 5vw;
	text-align: justify;
	background-color: none;
}

section.form form p {
	text-align: left;
	margin: 2vw 0 2vw 0;
	font-weight: bold;
	background-color: #e4ddd6;
	color: black ;
}


/*=========REFERÊNCIAS==========*/
section.referencias {
	margin: 4vw 6vw 0 6vw;
}

section.referencias h2 {
	font-weight: bold;
	font-size: 1rem;
	margin: 2vw 0 1vw 0;
}

section.referencias p {
	font-size: 0.8rem;
	margin: 12px 0 12px 0;
}


/*==========================================
           		 FOOTER
============================================*/
footer {
	background-color: #704a2f;
	padding: 2vw 0vw 2vw 0;
	color: #e4ddd6;
}

footer div {
	display: flex;
	margin: 0.5vw 0 0.6vw 6vw;
	font-size: 0.8rem;
}

footer div p {
	margin: 0 4vw 0.2vw 1vw;
}