style_organizacao.css
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1;
}

ol,
ul {
   list-style: none;
}


blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*==========================================
               GERAL
============================================*/
html {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: calc(10px + 1vw);
   overflow-x: hidden;
   overflow-y: scroll;
}

a {
   color: black;
   text-decoration: none;
}

/*==========================================
               INDEX
============================================*/
/*==========================================
					BANNER
===========================================*/
main section.title {
	background-image: url("../src/img.home/Vita_Ordinata_banner.png");
	height: 60vw;
	width: 100%;
	background-size: cover;
	background-position: center;
	position:static;
}

main section.title h1 {
	position: absolute;
	top: 60%;
	left: 32%;
	transform: translate(-50%, -50%);
	font-family: 'Times New Roman', Times, serif;
	font-size: 9vw;
	color: #704a2f;
   text-align: center;
}

section.title img.banner {
	width: 100%;
}
section.title h1 {
	font-size: 3.5vw;
	
}
/*======================================*/

header {
   border-bottom: 2.5px solid #2f2a19;
}

header nav {
   display: flex;
   background-color: #d1ae95;
   padding: 5px;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   top: 0%;
   width: 100%;
   border-bottom: 2.5px solid #2f2a19;
}

.navBar p img {
   border-radius: 50px;
   justify-content: left;
   width: 40px;
   margin: 0 0 0 4vw;
   transition: transform 0.3s ease
}
.navBar p img:active {
   transform: scale(0.9); /* Reduz o tamanho quando clicado */
	background-color: #ffffff; /* Muda a cor ao ser clicado */
}
.navBar p img:hover {
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	transform: scale(1.1);
}
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
}

.menu {
	list-style: none;
	justify-content: right;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 30px;
	justify-content: right;
	font-size: 1rem;
	font-weight: bold;
}

.menu li a {
	color: #2f2a19;
	text-decoration: none;
}

.menu li a:hover {
	color: #d1ae95;
}

/* Botão de Toggle */
.menu-toggle {
	display: none;
	flex-direction: column;
	gap: 5px;
	margin: 0 5vw 0;
	cursor: pointer;
}

.menu-toggle span {
	width: 25px;
	height: 3px;
	background-color: white;
}

.menu {
	display: none;
	flex-direction: column;
	background-color: #e4ddd6;
	position: absolute;
	top: 50px;
	right: 20px;
	width: 150px;
	border-bottom-left-radius: 1vw;
	border-bottom-right-radius: 1vw;
}

.menu li {
	margin: 0 0 2vw 0;
}

.menu-toggle {
	display: flex;
}

.menu.active {
	display: flex;
	padding: 3vw;
	width: 15%;
}

header nav ul li.atual a {
	background-color: #704a2f;
	color: #e4ddd6;
	padding: 8px;
	border-radius: 0.5rem;
}

/*================================================
                   Introdução                 
==================================================*/

main section.introducao {
   background-color: #e4ddd6;
   padding: 3vw 0;
}

main section.introducao div.dividir {
   display: flex;
   width: 100%;
}

main section.introducao div.dividir div.texto {
   text-align: center;
   width: 50%;
   margin: 9vw 3vw 1.5vw 10vw;
}

main section.introducao div.dividir div.texto p {
   font-size: 0.9rem;
   text-align: justify;
   line-height: 1.3rem;
}

main section.introducao div.dividir div.imagem p {
   margin: 5vw 10vw 1.5vw 8vw;
   width: 50%;
}

main section.introducao div.dividir div.imagem p img {
   border: 5px solid #704a2f;
}

/*================================================
                  Introducao 2        
==================================================*/
main section.introducaoDois {
   background-color: white;
   padding: 3vw 0;
}

main section.introducaoDois p.paragrafo {
   margin: 2vw 10vw 5vw 10vw;
   font-size: 0.9rem;
   line-height: 1.3rem;
   text-align: justify;
}

main section.introducaoDois p.imagem {
   width: 80%;
   text-align: center;
   background-color: #cdbca5;
   padding: 3vw 10vw 3vw 10vw;
}

main section.introducaoDois p.imagem img {
   border: 5px solid #704a2f;
}

main section.introducaoDois p.paragrafoBaixo {
   margin: 5vw 10vw 1.5vw 10vw;
   font-size: 0.9rem;
   line-height: 1.3rem;
   text-align: justify;
}

/*================================================
                  Introducao 3        
==================================================*/
main section.introducaoTres {
   background-color: #e4ddd6;
   padding: 3vw 0;
   display: flex;
   align-items: center;
}

main section.introducaoTres p.paragrafo {
   margin: 2vw 10vw 5vw 10vw;
   font-size: 0.9rem;
   line-height: 1.3rem;
   text-align: justify;
}

main section.introducaoTres p.imagem {
   margin: 3vw 10vw 3vw 5vw;
}

main section.introducaoTres p.imagem img {
   border: 5px solid #704a2f;
}

/*================================================
               Intro Organizacao      
==================================================*/
main section.introOrganizacao {
   background-color: white;
   padding: 0;
}

main section.introOrganizacao p.paragrafo {
   margin: 4vw 10vw 5vw 10vw;
   font-size: 0.9rem;
   line-height: 1.3rem;
   text-align: justify;
}

main section.introOrganizacao p.imagem {
   width: 80%;
   text-align: center;
   background-color: #cdbca5;
   padding: 3vw 10vw 3vw 10vw;
}

main section.introOrganizacao p.imagem img {
   border: 5px solid #704a2f;
}

main section.introOrganizacao p.paragrafoBaixo {
   margin: 5vw 10vw 4vw 10vw;
   font-size: 0.9rem;
   line-height: 1.3rem;
   text-align: justify;
}

p.topo {
   text-align: center;
   background-color: #e4ddd6;
   padding: 2vw 4vw;

}

p.topo a {
   color: #2f2a19;
   text-decoration: underline;
   font-weight: bold;
   font-size: 1.2rem;
}

p.topo a:hover {
   color: #704a2f;
}

/*==========================================
           SECTION.REFERENCIAS
============================================*/
main section.referencias {
   background-color: #cdbca5;
   padding: 2vw 10vw 6vw 10vw;
}

main section.referencias h2 {
   font-size: 1.6rem;
   font-weight: bold;
   padding: 4vw 0 3vw 0;
   text-align: center;
}
main section.referencias nav ul li {
   font-size: 0.8rem;
   margin: 2vw 0vw 2vw 0vw;
   word-wrap: break-word;
}

main section.referencias nav ul li a {
   text-decoration: underline;
}

/*==========================================
                FOOTER
============================================*/
footer {
   background-color: #704a2f;
   padding: 2vw 10vw 2vw 10vw;
   color: #e4ddd6;
   display: flex;
   font-size: 0.8rem;
   justify-content: space-between;
}

footer ul.esq {
   text-align: right;
   margin: 2vw 0 0 0;
   justify-content: right;
}

footer ul li a {
   color: #e4ddd6;
}

footer ul.alunos li.des {
   margin: 0 0 1vw 0;
}

footer ul.alunos li {
   display: block;
   font-size: 0.8rem;

}

footer ul li.contato {
   margin: 2vw 0 2vw 0;
}


/*==============RESPONSIVIDADE================*/

@media (max-width: 768px) {
   body {
      overflow-x: hidden;
      overflow-y: scroll;
   }

   main section.title h1 {
		top: 15%;
	}

   header ul.menu.menu.active {
		width: 35%;
	}

   /*================================================
                   Introdução                 
==================================================*/
   section.introducao h1 {
      margin: 0 10vw;
   }

   section.introducao div.dividir {
      display: block;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      width: 100%;
   }

   main section.introducao div.dividir div.texto {
      text-align: center;
      width: 100%;
      margin: 2vw;
   }

   main section.introducao div.dividir div.texto p {
      margin: 0vw 8vw 0vw 8vw;

   }

   main section.introducao div.dividir div.imagem p {
      width: 100%;
      margin: 0;
      text-align: center;
   }

   section.introducao div.dividir div.imagem p img {
      width: 77%; 
      margin: 2vw 4vw;

   }

   /*================================================
                   Introdução 2                
==================================================*/
   section.introducaoDois {
      padding: 5vw 0;
   }

   section.introducaoDois p.imagem {
      width: 100%;
      text-align: center;
   }

   section.introducaoDois p.imagem img {
      width: 97%;
   }
   section.introducaoDois p.paragrafoBaixo {
      margin: 0 1vw;
      width: 80%;
   }


   /*================================================
                   Introdução 3                
==================================================*/
   main section.introducaoTres {
      display: block;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      width: 100%;
      padding: 5vw 0;
      display: flex;
      align-items: center;
   }

   main section.introducaoTres p.paragrafo {
      width: 84%;
   }

   section.introducaoTres p.imagem {
      width: 100%;
      text-align: center;
   }

   main section.introducaoTres p.imagem img {
      width: 93%;
      margin: 0 4vw;
   }

   /*================================================
                   IntroOrganizacao               
==================================================*/

   main section.introOrganizacao p.imagem img {
      width: 97%;
   }

   main section.introOrganizacao p.topo {
      padding: 4vw 0
   }

/*================================================
                   Referências               
==================================================*/

   main section.referencias nav ul li p {
      line-height: 1rem;
   }

   /*===============FOOTER==============*/
   footer {
		align-items: center;
	}

	footer ul {
		display: block;
	}

	footer ul.alunos {
		margin: 0;
		width: 65%;
	}

	footer ul.esq {
		width: 90%;
		justify-content: left;
	}
}