style_sobre.css

/* Reset de CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    padding-bottom: 100px; /* Espaço para o footer */
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*==========================================
                GERAL
============================================*/

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(10px + 1vw);
}

a {
    color: black;
    text-decoration: none;
}
p.inform{
	margin: 2vw 10vw 2vw 0;
	line-height: 40px;
}

/*==========================================
                HEADER
============================================*/
header {
	border-bottom: 2.5px solid #2f2a19;
}
header nav {
	display: flex;
	background-color: #d1ae95;
	padding: 5px 0 5px 0;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0%;
	width: 100%;
	border-bottom: 2.5px solid #2f2a19;
}

header nav p img {
	border-radius: 50px;
	justify-content: left;
	width: 40px;
	margin: 0 0 0 4vw;
}

header nav ul {
	display: flex;
	justify-content: right;
	font-size: 0.8rem;
	font-weight: bold;
}

header nav ul li {
	margin: 0 10px 0 10px;
}

header nav ul li.atual a {
	background-color: #704a2f;
	color: #e4ddd6;
	padding: 8px;
	border-radius: 0.5rem;
}

/*==========================================
                MAIN
============================================*/
main img.banner {
	width: 100%;
}
main section.objetivo {
	background-color: #cdbca5;
	padding: 3vw 0 3vw 0;
}
main section.objetivo h1 {
	margin: 4vw 10vw 5vw 2vw;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}
main section.objetivo p.objetivo {
    margin: 3vw 10vw 3vw 10vw;
    text-align: justify;
    font-size: 1.1rem;
	line-height: 1.3rem;
}
main section.historia {
	background-color: #e4ddd6;
	padding: 3vw 0 3vw 0;
}
main section.historia h2 {
	margin: 4vw 10vw 5vw 2vw;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}
main section.historia p.historia {
	margin: 3vw 10vw 3vw 10vw;
    text-align: justify;
    font-size: 1.1rem;
	line-height: 1.3rem;
}
main section.textt h2.time {
	background-color: #e4ddd6;
	margin: 2vw 20vw 2vw 20vw;
	padding: 2vw 4vw 2vw 4vw;
	border-radius: 90px;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	color: #704a2f;
	font-family: 'Times New Roman', Times, serif;
}
main section.textt ul li.bege {
		display: flex;
		background-color: #e4ddd6;
		gap: 1vw;
		width: 100%;
		align-items: center;
	}
	
	main section.textt ul li.bege p.img img {
		width: 70%;
		border: 5px solid #704a2f;
		margin: 2vw;
		border-radius: 10rem;
	}
	
	main section.textt ul li.bege p.img{
		margin: 2vw 0 2vw 10vw;
	}

	main section.textt ul li.bege p.inform span {
		font-size: 1.6rem;
		font-family: 'Times New Roman', Times, serif;
		font-weight: bold;
	}
	
	main section.textt ul li.text {
		width: 100%;
        display: flex;
        gap: 1vw;
		align-items: center;
	}
	
	main section.textt ul li.text p {
		font-size: 1rem;
		margin: 2vw 0 2vw 10vw;
		word-wrap: break-word;
	}

	main section.textt ul li.text p.inform span {
		font-size: 1.6rem;
		font-family: 'Times New Roman', Times, serif;
		font-weight: bold;
	}
	main section.textt ul li.text p.inform  {
		line-height: 40px;
		margin: 0 10vw 0 0;
	}
	
	main section.textt ul li.text p.img img {
		width: 80%;
		border: 5px solid #704a2f;
		margin: 2vw;
		border-radius: 10rem;
	}
	
	
/*==========================================
                FOOTER
============================================*/
footer {
	background-color: #704a2f;
	padding: 2vw 0vw 2vw 0;
	color: #e4ddd6;
	display: flex;
	font-size: 0.8rem;

}

footer ul li a {
	color: #e4ddd6;
}

footer ul li.direitos p {
	margin: 0 4vw 0.2vw 6vw;
}

footer ul li.des p {
	margin: 1vw 1vw 1vw 6vw;
}

footer ul li.alunos {
	display: flex;

	font-size: 0.8rem;
}

footer ul li.alunos p {
	margin: 0.5vw 0 0.6vw 6vw;
}

footer ul.logos {
	margin: 2vw 4vw 1vw 18vw;
}

footer ul.logos li {
	margin: 1vw;
}