/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) 
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,

q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================================
                GERAL
============================================*/

html {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: calc(10px + 1vw);
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	color: black;
	text-decoration: none;
}

/*main {
    margin: 0 10vw 0 10vw;
}*/

/*==========================================
           		 HEADER
============================================*/
header {
	border-bottom: 2.5px solid #2f2a19;
}

header nav {
	display: flex;
	background-color: #d1ae95;
	padding: 5px;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0%;
	width: 100%;
	border-bottom: 2.5px solid #2f2a19;
}

.navBar p img {
	border-radius: 50px;
	justify-content: left;
	width: 40px;
	margin: 0 0 0 4vw;
	transition: transform 0.3s ease
 }
 .navBar p img:active {
	transform: scale(0.9); /* Reduz o tamanho quando clicado */
	 background-color: #ffffff; /* Muda a cor ao ser clicado */
 }
 .navBar p img:hover {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	 transform: scale(1.1);
 }

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
  }
  
  .menu {
	list-style: none;
	justify-content: right;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 30px;
	justify-content: right;
	font-size: 1rem;
	font-weight: bold;
}

.menu li a {
	color: #2f2a19;
	text-decoration: none;
}

.menu li a:hover {
	color: #d1ae95;
}

/* Botão de Toggle */
.menu-toggle {
	display: none;
	flex-direction: column;
	gap: 5px;
	margin: 0 5vw 0;
	cursor: pointer;
}

.menu-toggle span {
	width: 25px;
	height: 3px;
	background-color: white;
}

.menu {
	display: none;
	flex-direction: column;
	background-color: #e4ddd6;
	position: absolute;
	top: 50px;
	right: 20px;
	width: 150px;
	border-bottom-left-radius: 1vw;
	border-bottom-right-radius: 1vw;
}

.menu li {
	margin: 0 0 2vw 0;
}

.menu-toggle {
	display: flex;
}

.menu.active {
	display: flex;
	padding: 3vw;
	width: 15%;
}

header nav ul li.atual a {
	background-color: #704a2f;
	color: #e4ddd6;
	padding: 8px;
	border-radius: 0.5rem;
}


/*===========================
			BODY
=============================*/

body main h1.titulo {
	font-weight: bold;
	font-size: 2.6rem;
	color: rgb(140, 201, 252);
	margin: 10vw;
	text-align: center;
}

/*===========================
			MENUS
=============================*/
main div img.banner {
	width: 100%;
}

main section.menus {
	background-color: #e4ddd6;
	padding: 3vw 0;
	align-items: center;
	line-height: 1.3rem;
}

main section.menus h2 {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: 4vw;
	font-family: 'Times New Roman', Times, serif;
}

main section.menus p.paragrafo {
	margin: 0 10vw;
	text-align: justify;
}

main section.menus div.dividir {
	display: flex;
	margin: 0 10vw;
	align-items: center;
}

main section.menus div.dividir div.imagem {
	margin: 4vw 10vw 0 0;
	width: 100%;
}

main section.menus div.dividir div.imagem img {
	border: 5px solid #704a2f;
}

main section.menus div.texto {
	margin: 4vw 0;
}

main section.menus div.texto h3 {
	font-weight: bold;
	font-size: 1.4rem;
	margin: 0 0 5vw 0;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}

main section.menus div.texto p {
	margin: 4vw 0 0 0;
	font-size: 0.9rem;
	text-align: justify;
}

main section.menus div.texto p.link {
	text-align: center;
}

main section.menus div.texto p.link a {
	margin: 0;
	background-color: #2f2a19;
	color: #e4ddd6;
	border-radius: 15px;
	font-weight: bold;
	font-size: 1.3rem;
	padding: 2vw 3vw;
	font-family: 'Times New Roman', Times, serif;
	justify-content: center;
}

/*==========================================
           		 ATIVIDADE
============================================*/

main section.atividade {
	padding: 3vw 0;
	text-align: center;
	background-color: #704a2f;
}

main section.atividade h2 {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: 2vw;
	font-family: 'Times New Roman', Times, serif;
	color: #e4ddd6;
}

main section.atividade ul li {
	width: 25%;
	justify-content: space-around;
	background-color: #e4ddd6;
	border-radius: 15px;
	margin: 2vw;
	padding: 3vw 6vw;
}

main section.atividade h4 {
	font-weight: bold;
	margin: 10px;
}

main section.atividade p.texto {
	color: #e4ddd6;
	margin: 2vw 8vw 0 8vw;
}

main section.atividade span {
	font-weight: bold;
}

/*============================
		EXERCICIOS
==============================*/

main section.exercicios {
	padding: 3vw 0;
	text-align: center;
	background-color: #e4ddd6;
}

main section.exercicios {
	font-size: 0.9rem;
	padding: 5vw;
}

main section.exercicios h2 {
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	margin: 2vw;
	font-family: 'Times New Roman', Times, serif;
}

main section.exercicios ul {
	display: flex;
	flex-wrap: wrap;
	/*Flex Wrap passa Pra baixo quando não tem mais espaço*/
	justify-content: center;
	margin: 0 15px 0 15px;
}

main section.exercicios ul li {
	width: 30%;
	background-color: #2f2a19;
	border-radius: 15px;
	/*Arredondamento da borda*/
	margin: 2vw;
	padding: 2vw 2vw 2vw 2vw;
	transition: box-shadow 0.3s ease;
}
main section.exercicios h4 {
	font-weight: bold;
	margin: 20px;
	color: #e4ddd6;
	line-height: 1.3rem;
}

main section.exercicios ul li p {
	color: #e4ddd6;
	font-size: 0.9rem;
	line-height: 1.3rem;
}

main section.exercicios span {
	font-weight: bold;
}

main section.exercicios p.texto {
	margin: 2vw;
}

/*======================================
				TREINO
========================================*/

main section.treino {
	background-color: #704a2f;
	color: #e4ddd6;
	align-items: center;
	padding: 3vw 0;
}

main section.treino h2 {
	text-align: center;
	padding: 4vw;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.5rem;
	font-weight: bold;
}

main section.treino div.videos {
	display: flex;
	justify-content: center;
}

main section.treino div.videos p video {
	border: 5px solid #e4ddd6;
	margin: 2vw 5vw;
}

main section.treino ul li {
	background-color: #e4ddd6;
	color: black;
	margin: 5vw 10vw;
	border-radius: 2vw;
}

section.treino h4 {
	padding: 4vw;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.3rem;
}

main section.treino ul li p {
	padding: 2vw;
	font-size: 1rem;
	line-height: 1.3rem;
}

main section.treino p.topo {
	text-align: center;
}

main section.treino p a{
	margin: 4vw;
	background-color: #e4ddd6;
	color: #704a2f;
	border-radius: 10px;
	border-bottom: #e4ddd6;
	font-weight: bold;
	font-size: 1.3rem;
	padding: 20px;
	font-family: 'Times New Roman', Times, serif;
}
/*=========================================
				Referências
===========================================*/
main section.referenciasjose {
	background-color: #cdbca5;
	padding: 2vw 0 2vw 0;
}

main section.referenciasjose h1 {
	font-size: 1rem;
	font-weight: bold;
	padding: 2vw 10VW 2vw 10VW;
	text-align: center;
}

main section.referenciasjose h2 {
	font-size: 1rem;
	margin: 2vw 10vw 2vw 10vw;
	text-decoration: underline;
}

main section.referenciasjose nav ul li {
	font-size: 0.8rem;
	margin: 2vw 10vw 2vw 10vw;
	word-wrap: break-word;
}

main section.referenciasjose nav ul li a {
	text-decoration: underline;
}

/*==========================================
           		 FOOTER
============================================*/

footer {
	background-color: #704a2f;
	padding: 2vw 10vw 2vw 10vw;
	color: #e4ddd6;
	display: flex;
	font-size: 0.8rem;
	justify-content: space-between;
}

footer ul.esq {
	text-align: right;
	margin: 2vw 0 0 0;
	justify-content: right;
}

footer ul li a {
	color: #e4ddd6;
}

footer ul.alunos li.des {
	margin: 0 0 1vw 0;
}

footer ul.alunos li {
	display: block;
	font-size: 0.8rem;
}

footer ul li.contato {
	margin: 2vw 0 2vw 0;
}

/*====================================
------------Responsividade------------
======================================*/
@media (max-width: 700px) {
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}
   header .navBar {
		width: none;
   }
   header ul.menu.menu.active {
	width: 35%;
	}

/*================ MENUS ===================*/
section.menus div.imagem {
	text-align: center;
}
	section.menus img{
		width: 320px;
   }
   section.menus p {
	text-align: justify;
	font-size: 0.9rem;
   }
   section.menus div.dividir {
	display: block;
	flex-wrap: wrap;
	margin: 3vw;
   }
   section.menus p.paragrafo {
	margin: 2vw;
   }
   section.menus div.texto p {
	margin: 4vw 0 7vw 4vw;
   }
   section.menus div.text p.link a {
	margin: 20vw;
   }
   section.atividade p.texto {
	font-size: 0.9rem;
   }
   section.exercicios ul {
	justify-content: center;
	display: block;
	flex-wrap: wrap;
   }
   section.exercicios ul li {
	width: 100;
   }
   section.exercicios ul li p{
	font-size: 0.9rem;
   }
   section.exercicios ul li h4 {
	width: 100%;
	margin: 0.5vw;
	padding: 5vw 0 5vw 0;
	word-break: break-all;
   }
   section.treino div.videos {
	display: block;
	flex-wrap: wrap;
	justify-content: center;
   }
   section.treino div.videos video {
	width: 85%;
   }
   section.treino div.videos p {
   }
/*=================Footer===============*/
footer {
	align-items: center;
}

footer ul {
	display: block;
}

footer ul.alunos {
	margin: 0;
	width: 65%;
}

footer ul.esq {
	width: 90%;
	justify-content: left;
}
} 
/*animação*/

.animacao1 {
	display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease; /* Animação suave */
}
.animacao1:active {
	transform: scale(0.9); /* Reduz o tamanho quando clicado */
	background-color: #ffffff; /* Muda a cor ao ser clicado */
  }
.animacao1:hover {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	transform: scale(1.1);
}
  .animacao2 {
	display: inline-block;
	padding: 10px 20px;
	background-color: #3498db;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
  }
  
  .animacao2:hover {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	transform: scale(1.1);
  }
  
  .animacao2:active {
	transform: scale(0.95);
	background-color: #2980b9;
  }
.animacao3 li{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.animacao3:hover li{
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}
.exercicios ul li {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.exercicios ul li:hover {
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
  }