/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================================
                GERAL
============================================*/

html {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: calc(10px + 1vw);
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	color: black;
	text-decoration: none;
}

/*==========================================
           		 HEADER
============================================*/
header {
	border-bottom: 2.5px solid #2f2a19;
}

header nav {
	display: flex;
	background-color: #d1ae95;
	padding: 5px;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0%;
	width: 100%;
	border-bottom: 2.5px solid #2f2a19;
}

.navBar p img {
	border-radius: 50px;
	justify-content: left;
	width: 40px;
	margin: 0 0 0 4vw;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
  }
  
  .menu {
	list-style: none;
	justify-content: right;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 20px;
	justify-content: right;
	font-size: 0.8rem;
	font-weight: bold;
  }
  
  .menu li a {
	color: #2f2a19;
	text-decoration: none;
  }
  
  .menu li a:hover {
	color: #704a2f;
  }
  
  /* Botão de Toggle */
  .menu-toggle {
	display: none;
	flex-direction: column;
	gap: 5px;
	margin: 0 5vw 0 ;
	cursor: pointer;
  }
  
  .menu-toggle span {
	width: 25px;
	height: 3px;
	background-color: white;
  }
  .menu {
	display: none;
	flex-direction: column;
	background-color: #e4ddd6;
	position: absolute;
	top: 50px;
	right: 20px;
	width: 150px;
	border-bottom-left-radius: 1vw;
	border-bottom-right-radius: 1vw;
	padding: 5vw;
  }

  .menu li {
	margin: 10px 0;
  }

  .menu-toggle {
	display: flex;
  }

  .menu.active {
	display: flex;
  }

header nav ul li.atual a {
	background-color: #704a2f;
	color: #e4ddd6;
	padding: 8px;
	border-radius: 0.5rem;
}


/*==========================================
            	MAIN
============================================*/
body.estudosTrabalho main h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

body.estudosTrabalho main p {
	text-align: justify;
	
}

body.estudosTrabalho main p.img {
	text-align: center;
}

body.estudosTrabalho main p.img img {
	width: 45%;
}

body.estudosTrabalho main hr {
	margin: 1.5vw 10vw 1.5vw 10vw;
	color: #2f2a19;
}

/*==========================================
            	Banner
============================================*/
main p.banner img {
	width: 100%;
}

/*==========================================
            	Intro
============================================*/
section.intro {
	background-color: #e4ddd6;
	padding: 3vw 0 3vw 0;
}

section.intro h2 {
	margin: 4vw 0 0 0;
}

section.intro p {
	margin: 2vw 10vw 2vw 10vw;
}

section.intro p.video video {
	margin: 0 10vw 4vw 10vw;
	text-align: center;
	border: 9px solid #704a2f;
	width: 80%;
}

/*==========================================
            	Importancia
============================================*/
section.importancia {
	background-color: #cdbca5;
	padding: 3vw 0 3vw 0;
}

section.importancia h2 {
	margin: 2vw 0 2vw 0;
}

section.importancia div.maior {
	display: flex;
	width: 100%;
}

section.importancia div.maior div.image {
	width: 50%;
	margin: 2vw 2vw 2vw 10vw;
}

section.importancia p.image img {
	border: 5px solid #704a2f;
	width: 100%;
}

section.importancia div.maior div.texto {
	width: 50%;
	margin: 2vw 10vw 2vw 2vw;
}

section.importancia p {
	margin: 0.7vw 0 0 5vw;
	line-height: 1.3rem;
}

/*==========================================
           		 Vantagens
============================================*/
section.vantagens {
	background-color: #e4ddd6;
	padding: 6vw 0 5vw 0;
}

section.vantagens h2.vantagem {
	margin: 7vw 10vw 3 10vw;
}

section.vantagens h2.resposta {
	font-weight: bold;
	background-color: #cdbca5;
	padding: 10px 10px 10px 10px;
	border-radius: 100px;
	color: #704a2f;
	margin: 5vw 10vw 4vw 10vw;
}
section.vantagens div.maior{
	display: flex;
	width: 100% ;
}
section.vantagens div.maior div.lista{
	width: 50%;
	
}
section.vantagens div.maior div.lista ul {
	background-color: #704a2f;
	border-radius: 25px;
	padding: 2vw;
	margin: 0 1.5vw 0 10vw ;
}

section.vantagens div.maior div.lista ul li {
	text-align: center;
	color: #e4ddd6;
	margin: 2vw;
	font-weight: bold;
}
section.vantagens div.maior div.img{
	width: 50%;
}
section.vantagens div.maior div.img p.img{
	margin: 0 10vw 0 1.5vw;
}
section.vantagens div.maior div.img p.img img {
	border: #2f2a19 solid 9px;
	border-radius: 25px;
	width: 95%;
}

/*==========================================
           		 Rotina
============================================*/
section.rotina {
	background-color: #cdbca5;
	padding: 3vw 0 3vw 0;
}

section.rotina h2 {
	margin: 4vw;
}

section.rotina h3 {
	font-weight: bold;
	font-size: 1.7rem;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	background-color: #e4ddd6;
	padding: 1.5vw;
	border-radius: 10vw;
	color: #632b04;
	margin: 9vw 25vw 3vw 25vw ;
}

section.rotina p {
	background-color: #704a2f;
	color: #cdbca5;
	padding: 2vw;
	border-radius: 1.3vw;
	font-family: 'Times New Roman', Times, serif;
	line-height: 1.4rem;
	margin: 4vw 10vw 4vw 10vw;
}
section.rotina p.img{
	background-color: #cdbca5;
}
section.rotina img {
	width: 100%;	
	border-radius: 20px;
	background-color: #704a2f;
	padding: 7px 15px;
	
}
/*==========================================
           		 Lista
============================================*/
section.lista {
	background-color: #e4ddd6;
	padding: 6vw 0 5vw 0;
}
section.lista ul div{
	display: flex;
	width: 100%;
}
section ul div li{
	width: 100%;
}
section.lista ul li h3 {
	text-align: center;
	font-weight: bold;
	margin: 3vw 10vw 3vw 10vw;
	background-color: #d1ae95;
	padding:  10px 5px;
	border-radius: 10px;
}
section.lista ul li p {
	text-align: center;
	margin: 2vw 10vw 2vw 10vw;
	background-color: aliceblue;
	padding: 10px;
	border: #2f2a19 solid 2px ;
	line-height: 1.4rem;
}
/*====================
	Lista dividida
==================== */
section ul div li.left h3{
	margin: 3vw 2vw 3vw 10vw;
}
section ul div li.right h3{
	margin: 3vw 10vw 3vw 2vw;
}
section ul div li.left p{
	margin: 2vw 2vw 2vw 10vw;
}
section ul div li.right p{
	margin: 2vw 10vw 2vw 2vw;
}

/*IMG*/
section.lista img {
	border: #632b04 solid 9px;
	width: 100%;
}
section.lista p.video video {
	margin: 5vw 10vw 4vw 10vw;
	text-align: center;
	width: 80%;
	border: 5px solid #704a2f;
}

/*==========================================
           		 Referencias
============================================*/
section.referencias {
	background-color: #cdbca5;
	padding: 2vw;
}

section.referencias h2 {
	font-size: 2rem;
	margin: 2vw;
}

section.referencias h3 {
	font-size: 1rem;
	margin: 2vw 10vw 2vw 10vw;
	text-decoration: underline;
}

section.referencias p {
	margin: 2vw 10vw 2vw 10vw;
	text-align: left;
	font-size: 0.8rem;
}

/*==========================================
           		 FOOTER
============================================*/
footer {
	background-color: #704a2f;
	padding: 2vw 0vw 2vw 0;
	color: #e4ddd6;
	display: flex;
	font-size: 0.8rem;
}

footer ul li a {
	color: #e4ddd6;
}

footer ul li.direitos p {
	margin: 0 4vw 0.2vw 6vw;
}

footer ul li.des p {
	margin: 1vw 1vw 1vw 6vw;
}

footer ul li.alunos {
	display: flex;

	font-size: 0.8rem;
}

footer ul li.alunos p {
	margin: 0.5vw 0 0.6vw 6vw;
}

footer ul.logos {
	margin: 2vw 4vw 1vw 18vw;
}

footer ul.logos li {
	margin: 1vw;
}